body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f0f2f5;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
  background-color: #fff;
}

.right-panel {
  flex: 3;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-start; 
  color: #333;
}

.header-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.greeting p {
  margin: 0;
  font-size: 1.8rem;
  color: #092C4C;
  font-weight: bold;
}

.greeting .good-morning {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffa000;
}

.logo img {
  height: 100px;
  margin-top: -20px;
}

.login-section {
  width: 100%;
  margin-top: 5%;
}

.login-section h2 {
  font-size: 1.5rem;
  color: #092C4C;
  margin-bottom: 25px;
  text-align: center;
  font-weight: normal;
  font-weight: bold;
}

.faculty-text {
  color: #ffa000;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group label {
  font-size: 0.9rem;
  color: #092C4C;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-input {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  width: calc(100% - 30px);
  box-sizing: border-box;
  color: #092C4C; 
  background-color: #ffffff;
}

.login-input::placeholder {
  color: #092C4C; 
}

.remember-me-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #092C4C;
}

.remember-me-container input[type="checkbox"] {
  accent-color: #092C4C;
}

.login-button {
  padding: 12px 20px;
  background-color: #ffa000;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
.login-button:hover {
  background-color: #ffa000;
}

.admin-login-link a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease;
  display: inline-block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}